


@media (max-width: 1100px) {
    .container { 
    	width:  100%;
    }
}

@media (max-width: 700px) {

	#governo {
		display: none;	
	}
	
	/*SUMARIO*/

	#sumario h1 {
		font-size: 32px;
	}

	#sumario h2 {
		font-size: 20px;
	}

	#sumario a {
		width: calc(50% - 30px);
		margin-left: 0 !important;
		font-size: 18px;
		line-height: 1.4;
	}

	#sumario section a:nth-of-type(2n+0) {
		margin-left: 30px !important;
	}

	.areaconteudo {
		padding-top: 50px;
	}

	.areaconteudo article {
		width: 100%;
	}

	/*CABEÇALHO CONTEUDO*/

	.menor {
		height: auto;
		padding-bottom: 20px;
	}

	.menor h1 {
		padding-top: 40px;
	}

	.menor .marcaufg {
		float: none;
		margin: 0;
		padding-top: 30px;
	}

	/*AUTORES*/

	.infodireita {
		margin-top: 20px;
		width: 100%;
		float: none;
		margin-top: 0;
		margin-bottom: 100px;
	}

	.infodireita .pdf {
		width: 200px;
	}

	/*PAGINAÇAO*/

	.pagina {
		font-size: 18px;
	}

	/*NOTADERODAPE*/

	.areaconteudo .nota-rodape {
		margin-top: 0;
		padding: 15px;
		box-shadow: 0 0 10px rgba(0,0,0,0.2)
	}

	/*FICHA TECNICA - BOX ISBN*/

	.box {
		width: 100%;
	}
}




@media (max-width: 425px) {

	.container {
		padding-left: 15px;
		padding-right: 15px;
	}

	/*CABECALHO HOME*/
	
	.header {
		height: auto;
		padding-bottom: 20px;
	}

	.header h1 {
		font-size: 25px;
		padding-top: 40px;
	}

	.header h2 {
		font-size: 18px;
	}

	.header h1, .header h2 {
		line-height: 1.4;
	}

	/*CABECALHO CONTEUDO*/

	.menor {
		height: auto;
	}

	.menor h1 {
		font-size: 1em;
		margin-top: 0;
		padding-top: 40px;
	}

	.menor h2 {
		font-size: 0.9em;
		padding-top: 10px;
	}



	/*SUMARIO*/

	#botoes {
		margin-top: 50px;
		margin-bottom: 10px;
	}

	#botoes a {
		font-size: 0.8em;
	/*	width: calc(45% - 30px);*/
		display: inline-block;
		margin-right: 0;
		/*text-align: center;*/
		padding-right: 0;
		width: 49%;
	}

	#sumario h1 {
		font-size: 28px;
		padding-top: 10px;
	}

	#sumario h2 {
		font-size: 18px;
		padding-bottom: 20px;
	}

	#sumario a {
		font-size: 18px;
		line-height: 1.3;
		display: block;
		margin-left: 0;
		width: 100%;
		margin-bottom: 10px;
		padding: 10px 0 25px 0;
	}

	#sumario section a:nth-of-type(2n+0) {
		margin-left: 0 !important;
	}

	#sumario a span {
		padding-top: 10px;
	}

	/*AUTORES*/

	.infodireita .pdf {
		width: 100%;
	}

	/*AREA DO CONTEUDO*/

	.areaconteudo h1 {
		font-size: 22px;
		line-height: 1.4;
	}

	.areaconteudo h2 {
		font-size: 18px;
		line-height: 1.4;
	}

	.areaconteudo h3 {
		font-size: 16px;
		line-height: 1.4;
	}

	.areaconteudo h5, .areaconteudo p {
		font-size: 15px;
		line-height: 1.4;
	}

	.areaconteudo .nota-rodape {
		width: calc(100% - 30px);
		margin-right: 15px;
	}

	/*FICHA TECNICA*/

	.imprimir {
	width: 100%;
	}

}
