/*BOX SIZING FIX*/
html {
	box-sizing: border-box;
}

*,*:before,*:after {
	box-sizing: inherit;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Medium.eot');
    src: url('../fonts/subset-Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Medium.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Medium.woff') format('woff'),
        url('../fonts/subset-Roboto-Medium.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Black.eot');
    src: url('../fonts/subset-Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Black.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Black.woff') format('woff'),
        url('../fonts/subset-Roboto-Black.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Black.svg#Roboto-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-BoldItalic.eot');
    src: url('../fonts/subset-Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-BoldItalic.woff2') format('woff2'),
        url('../fonts/subset-Roboto-BoldItalic.woff') format('woff'),
        url('../fonts/subset-Roboto-BoldItalic.ttf') format('truetype'),
        url('../fonts/subset-Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-LightItalic.eot');
    src: url('../fonts/subset-Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-LightItalic.woff2') format('woff2'),
        url('../fonts/subset-Roboto-LightItalic.woff') format('woff'),
        url('../fonts/subset-Roboto-LightItalic.ttf') format('truetype'),
        url('../fonts/subset-Roboto-LightItalic.svg#Roboto-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Regular.eot');
    src: url('../fonts/subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Regular.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Regular.woff') format('woff'),
        url('../fonts/subset-Roboto-Regular.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Bold.eot');
    src: url('../fonts/subset-Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Bold.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Bold.woff') format('woff'),
        url('../fonts/subset-Roboto-Bold.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Italic.eot');
    src: url('../fonts/subset-Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Italic.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Italic.woff') format('woff'),
        url('../fonts/subset-Roboto-Italic.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Italic.svg#Roboto-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Light.eot');
    src: url('../fonts/subset-Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Light.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Light.woff') format('woff'),
        url('../fonts/subset-Roboto-Light.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}



/*PADROES*/

.container {
width: 1100px;
margin: 0 auto;
padding: 0 30px;
}


/*INSTITUICOES*/

.instituicoes {
font-size: 13.23px;
font-weight: 300;
letter-spacing: 0.4px;
color: #d4d4d4;
text-align: center;
}

#governo {
background-color: #273540;
padding-top: 10px;
padding-bottom: 10px;
width: 100%;
}

#governo p {
margin: 0;	
}

/* CABEÇALHO INDEX*/

.header {
font-family: Roboto;
background-image: url(../img/goianiabanner2.jpg);
background-size: cover;
background-position: center center;
color: #fff;
top: 40px;
width: 100%;
height: 500px;
display: block;
}

.header a {
color: #fff;
text-decoration: none;

}

.header h1 {
font-size: 45px;
font-weight: 300;
letter-spacing: 0.2px;
padding-top: 65px;
margin: 0;
}

.header h2 {
font-size: 35px;
font-weight: 300;
padding-top: 15px;
margin: 0;
padding-bottom: 50px;
}

.marca {
width: 130px;
padding-top: 10px;
display: block;
float: right;
margin-top: 60px;
}

.marca img {
display: block;
width: 100%;
}

.header dl {
    color: #fff;
    font-size: 17px;
    line-height: 25px;
}

.header dt {
    font-weight: bold;
    padding-bottom: 5px;
}

.header dd {
    font-weight: 300;
    margin-left: 0;
}

/* CABEÇALHO CONTEÚDO*/

.headerconteudo {
font-family: Roboto;
background-image: url(../img/goianiabanner2.jpg);
background-size: cover;
background-position: center center;
color: #fff;
top: 40px;
width: 100%;
height: 250px;
display: block;
}

.headerconteudo a {
color: #fff;
text-decoration: none;

}

.headerconteudo h1 {
font-size: 38px;
font-weight: 300;
letter-spacing: 0.2px;
padding-top: 35px;
margin: 0;
}

.headerconteudo h2 {
font-size: 28px;
font-weight: 300;
padding-top: 15px;
margin: 0;
}

.headerconteudo .marca {
    margin-top: 35px;
    width: 100px;
}

.menu {
    width: 40px;
    padding-top: 25px;
    margin: 0;
}



/* ÁREA DO CONTEÚDO */

body {
font-family: Roboto;
}

.areaconteudo {
font-family: Roboto; 
background-color: #fff;
margin: 0 auto;
padding-top: 70px;
padding-bottom: 50px;
}


.areaconteudo article{
width: 700px;	
}

.areaconteudo article a {
color: #BD9804;
font-weight: 500;
word-wrap: break-word; 
}

.areaconteudo article strong {
color: #273540;
font-weight: bold;
}

.areaconteudo img {
position: left;	
}

.areaconteudo h1{
font-size: 30px;
color: #273540;
}

.areaconteudo h2 {
font-size: 20px;
color: #273540;
padding-top: 30px;
}

.areaconteudo p {
font-weight: 300;
line-height: 27px;
font-size: 17px;
text-align: left;
}



.areaconteudo li {
font-weight: 300;
line-height: 27px;
font-size: 17px;
}


blockquote {
font-size: 15px;
font-weight: 300;
line-height: 24px;
}


/*NOTA_DE_RODAPE*/

.areaconteudo p input[type="checkbox"]{
    position: absolute;
    left: -10000px;
    visibility: hidden;
}

.areaconteudo p label{
    width: 4px;
    height: 4px;
    font-size: 14px;
    background-color: #DDDDDD;
    font-weight: bold;
    color: black;
    padding: 1px 4px;
    user-select: none;
    cursor: pointer;
}

.areaconteudo p .nota-rodape{
    border-top: 3px solid #8d741d;
    display: none;
    position: absolute;
    font-size: 15px;
    line-height: 23px;
    right: 0;
    width: 250px;
    margin-top: -1em;
    margin-right: 30px;
    color: 000;
    background-color: white;
    z-index: 2;
    padding-top: 15px;
}

.areaconteudo p .nota-rodape a {
    text-decoration: none;
    color:  #8d741d;
    font-weight: normal;
    text-decoration: underline;
}

.areaconteudo p input[type="checkbox"]:checked + label{
    background-color:  #8d741d;
    color: white;
}

.areaconteudo p input[type="checkbox"]:checked + label + .nota-rodape{
    display: block;
}



/*IMAGENS*/

figure {
padding-top: 10px;
margin: 0;
}

figure img {
width: auto;
max-width: 100%;
max-height: 680px;
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
padding-bottom: 5px;
}

figure figcaption {
font-family: Roboto-Regular;
font-size: 16px;
text-align: center;	
}

figure.galeria {
text-align: center;
width: 100%;    
}

figure.galeria img {
display: inline-block;
margin: 2px;
max-height: 300px;
}

/*TABELA*/

.divtabela {
    overflow-x: auto;
}

table {
border-collapse: collapse;
min-width: 900px;
width: 100%;
margin: 40px 0;	
color: #000;
}

th, td {
font-family: Roboto;
font-size: 15px;
text-align: left;
}

th {
font-weight: normal;
background-color: #8d741d;
border-right: 1px solid #BB9C32;
padding: 10px;
color: #fff;
vertical-align: top;
}

td{
font-weight: 300;
background-color: #fff;
border: 1px solid #EBE6D8;
color: #000;
padding: 10px;
}

.ultimalinha td {
border-bottom: 4px solid #8d741d;	
}

table caption {
font-weight: 500;
text-align: left;
letter-spacing: 0.5px;
text-transform: uppercase;
font-size: 14px;
padding-bottom:	10px;
color: #212121;
}


/*PAGINAÇÃO*/

.pagina {
display: block;
width:  900px;
border-bottom: 1px solid #c2c2c2;	
margin: 0;
margin-bottom: 50px;
color: #c2c2c2;
font-size: 25px;
text-align: right;
}

/*PRINT*/

#print {
    width: 40px;
    float: right;
}

#printficha {
    width: 40px;
    float: right;
    margin-top: 85px;
}


/*RODAPÉ*/

footer {
width: 100%;
}

.footerconteudo {
background-color: #273540;   
padding-top: 25px;
padding-bottom: 25px;
text-transform: uppercase;
letter-spacing: 0.5px;
font-size: 18px; 
}

.footerficha {
    text-align: center;
    font-size: 0.9em;
    padding: 30px;
    margin: 0 auto;
    background-color: #EFEFEF;
}

.footerficha a{
    color: #000;
}

.footerficha p {
    width: 610px;
    margin: 0 auto;
    margin-top: 15px;
    line-height: 1.5em;
}

footer a {
text-decoration: none;	
color: #fff;
}

.esquerda{
padding-right: 40px;
}

.direita {
float: right;
padding-left: 40px;
}

/*SUMÁRIO*/

#botoes {
display: inline-block;
background-color: #fff;
margin-top: 100px;
margin-bottom: 100px;
}

#botoes a {
font-weight: normal;
font-size: 20px;
margin-right: 40px;	
text-decoration: none;
text-transform: uppercase;
color: #273540;
border-top: 5px solid  #dab212;
padding: 10px 40px 20px 0;
}

#botoes a:hover {
border-top: 5px solid #273540;
}

#sumario {
width: 100%;
font-family: Roboto;
}

#sumario h1 {
font-size: 40px;
color: #dab212;
}

#sumario a {
display: inline-block;
background-color: #fff;
font-weight: normal;
text-decoration: none;
font-size: 23px;
padding: 20px 20px 20px 0;
color: #273540;
border-top: 5px solid #dab212;
margin-left: 40px;	
margin-bottom: 40px;
width: calc(33% - 40px);
vertical-align: top;
}

#sumario a:hover {
border-top: 5px solid #273540;
}

#sumario a:nth-of-type(3n-2) {
margin-left: 0;
}

#sumario a span {
font-weight: normal;
line-height: 18px;
display: block;
color: #7a7a7a;
font-size: 14px;
padding-top: 20px;
}

/*FICHA TÉCNICA*/

.ficha {
border-top: 5px solid #dab212;
padding-bottom: 70px;
}

.ficha h1, .ficha h2 {
color: #273540;
}

.ficha h1 {
font-size: 22px;  
padding-top: 15px;  
}

.ficha h2 {
font-size: 18px;
padding-top: 15px; 
}

.ficha p {
font-size: 15px;
margin: 5px 0 5px 0;
}

#link {
    width: 18%;
    font-weight: normal;
    display: block;
    margin-top: 50px;
    background-color: #dab212;
    color: #fff;
    font-size: 1.2em;
    padding: 15px;
    text-decoration: none;
}

.linha {
    border-top: 1px solid #dab212;
    margin-top: 55px;
    display: block;
    width: 100%;
}

.fichacat {
    border: 1px solid #858585;
    padding: 20px;
    margin: 20px 0;
    width: 60%;
}


.fichacat p {
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 12px;
    position: relative;
}

.fichacat .codigo {
    width: 10%;
    float: left;
    position: relative;
}

.fichacat .dados {
    width: 90%;
    float: right;
    position: relative;
}

.fichacat:before, .fichacat:after {
    content: "";
    display: table;
}

.fichacat:after {
    clear: both;
}




.marcaufg {
    display: block;
    width: 200px;
    margin-top: 30px;
}



















